{% extends 'base.html.twig' %}

{% block title %}Stripe {% endblock %}

{% block body %}

  {% for flashMessage in app.flashes('error') %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Erreur</h4>
    <p>{{ flashMessage }}</p>
</div>

{% endfor %}
    <form action="/payement" method="POST">
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_nagZJwyMGwBiDe1FPGhjLlbt"
    data-currency="eur"
    data-email="{{ Email }}"
    data-amount="{{ Price }}"
    data-name="Le Louvre"
    data-description="Achat ticket en ligne"
    data-image="https://upload.wikimedia.org/wikipedia/fr/9/9f/Musee_du_Louvre_1992_logo.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>

{% endblock %}
